:root {
  --primary-color: #1465FF;
  --color-dark: #0e2035;
  --color-dark-alt: #35353D;
  --color-light: #FFFFFF;
  --color-gray: #a0a4ab;
  --color-gray-alt: #e5e5e5;

  --font-family: "Raleway", sans-serif;

  --border-radius: 30px;
  --border-radius-small: 16px;
  
  --transition-duration: 0.4s;
}